<% content_for :title do %>
  <title>RailsToySample</title>
<% end %>

<p style="color: green"><%= notice %></p>

<%= render @user %>

<div>
  <%= link_to "Edit this user", edit_user_path(@user) %> |
  <%= link_to "Back to users", users_path %>
  <%= link_to "previous page", url_for(:back) %>

  <%= button_to "Destroy this user", @user, method: :delete %>
</div>
